.rates {
    position: relative;
    background-color: #fff;
}

.rates::after {
    position: absolute;
    top: 187px;
    content: "";
    display: block;
    width: 100%;
    height: 598px;
    background-color: #f7f5f3;
    z-index: 0;
}

.rates .slide {
    float: none;
    height: 260px;
}

.rates .slide:first-child {
    height: 598px;
}

.rates h1 {
    padding-top: 54px;
}

.slider {
    position: relative;
    z-index: 1;
}

.slider-header {
    position: relative;
}

.slider-header::after {
    position: absolute;
    top: 146px;
    left: 319px;
    content: "";
    display: block;
    width: 340px;
    height: 1210px;
    background-color: white;
    box-shadow: 0 3px 40px rgba(0, 0, 0, 0.35);
    z-index: 1;
}

.slider-header h1 {
    display: block;
    margin-bottom: 88px;
    z-index: 0;
}

.rate {
    transition: none;
}

.rate:hover {
    background-color: transparent;
}

.rate:hover .icon {
    transform: none;
}

.startup .grade-1 {
    padding-top: 130px;
    padding-bottom: 30px;
}

.startup .grade-1 h3 {
    padding-left: 7px;
}

.startup .grade-1 .btn-red.btn-lg {
    margin-left: 10px;
}

.startup .grade-2 {
    padding-top: 77px;
    padding-bottom: 30px;
}

.startup .grade-2 .rate__icon {
    width: 230px;
    height: 230px;
    border: 8px solid #02903d;
}

.startup .grade-2 .icon {
    width: 127px;
    height: 87px;
    margin: -45px 0 0 -63px;
    background-position: -373px -489px;
}

.startup .grade-2 h2.foremost {
    margin-top: 26px;
    color: #02903d;
}

.startup .grade-2 h3 {
    padding-left: 13px;
}

.startup .grade-2 .btn-red.btn-lg {
    margin-left: 10px;
}

.startup .grade-3 {
    padding-top: 31px;
    padding-bottom: 30px;
}

.startup .grade-3 .rate__icon {
    width: 280px;
    height: 280px;
    border: 8px solid #ffa800;
}

.startup .grade-3 .icon {
    width: 184px;
    height: 140px;
    margin: -71px 0 0 -93px;
    background-position: 0 -213px;
}

.startup .grade-3 h2.foremost {
    margin-top: 25px;
    padding-left: 10px;
    color: #ffa800;
}

.startup .grade-3 h3 {
    padding-left: 5px;
}

.startup .grade-3 .btn-red.btn-lg {
    margin-left: 10px;
}

.columns.triple.business {
    clear: both;
}

.business .rate {
    padding: 0;
    padding-top: 32px;
    padding-bottom: 16px;
}

.business .grade-1 .rate__icon,
.business .grade-2 .rate__icon,
.business .grade-3 .rate__icon {
    display: none;
}

.business .grade-2 h2.foremost,
.business .grade-3 h2.foremost {
    color: #000;
}

.business .grade-2 h2.foremost {
    margin-top: 32px;
}

.business .grade-3 h2.foremost {
    margin-top: 32px;
    padding-left: 10px;
}

.columns.triple.company {
    clear: both;
}

.company .rate {
    padding: 0;
    padding-bottom: 43px;
}

.company .grade-1 .rate__icon,
.company .grade-2 .rate__icon,
.company .grade-3 .rate__icon {
    display: none;
}

.company .grade-2 h2.foremost,
.company .grade-3 h2.foremost {
    color: #000;
}

.company .grade-2 h2.foremost {
    margin-top: 32px;
}

.company .grade-3 h2.foremost {
    margin-top: 32px;
}

.btn-red.btn-lg {
    transition: ease all 0.3s;
}

.business .btn-red.btn-lg,
.company .btn-red.btn-lg {
    border: none;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 0;
}

.rate__helper {
    clear: both;
}