#rates_play:checked~.slider-header h1:nth-child(1),
#rates_play:checked~.slider-header h1:nth-child(2),
#rates_play:checked~.slider-header h1:nth-child(3) {
    -webkit-animation: none;
    animation: none;
}

#rates_play:checked~.slider .rates__slides_inner {
    -webkit-animation: none;
    animation: none;
}

.rates .slide {
    float: none;
    height: 360px;
}

.rates h1 {
    padding-top: 54px;
}

.rates_slide__ctrl-left,
.rates_slide__ctrl-right {
    display: none;
}

.slider-header h1 {
    display: block;
    z-index: 0;
}

/* .startup .grade-1 {
    position: absolute;
    left: 6%;
}

.startup .grade-2 {
    position: absolute;
    top: 500px;
    left: -100%;
}

.startup .grade-3 {
    position: absolute;
    top: 752px;
    left: -194%;
} */

/* .startup .rate {
    padding: 180px 0 100px;
} */

/* .startup .grade-2 .rate__icon,
.startup .grade-3 .rate__icon {
    display: none;
} */

.startup .grade-2 .rate__icon {
    width: 230px;
    height: 230px;
    border: 8px solid #02903d;
}

.startup .grade-2 .icon {
    background-position: -373px -489px;
}

.startup .grade-2 h2.foremost {
    margin-top: 29px;
    color: #02903d;
}

.startup .grade-3 .rate__icon {
    width: 280px;
    height: 280px;
    border: 8px solid #ffa800;
}

.startup .grade-3 .icon {
    background-position: 0 -213px;
}

.startup .grade-3 h2.foremost {
    color: #ffa800;
}

/* .startup .grade-2 h2.foremost,
.startup .grade-3 h2.foremost {
    color: #000;
} */

/* .business .grade-1 {
    position: absolute;
    top: -633px;
    left: 106%;
} */

.business .grade-1 .rate__icon,
.business .grade-2 .rate__icon,
.business .grade-3 .rate__icon {
    display: none;
}

/* .business .grade-1 .rate__icon {
    border: 8px solid #02903d;
}

.business .grade-1 .icon {
    background-position: -373px -489px;
}

.business .grade-1 h2.foremost {
    margin-top: 29px;
    color: #02903d;
} */

.business .grade-2 h2.foremost,
.business .grade-3 h2.foremost {
    color: #000;
}

/* .business .grade-2 {
    position: absolute;
    top: -74px;
    left: 6%;
}

.business .grade-3 {
    position: absolute;
    top: 175px;
    left: -94%;
} */

/* .business .rate__icon .icon {
    margin: -44px 0 0 -64px;
} */

/* .company .grade-1 {
    position: absolute;
    top: -486px;
    left: 214%;
}

.company .grade-2 {
    position: absolute;
    top: -1307px;
    left: 103%;
} */

/* .company .grade-2 .rate__icon {
    border: 8px solid #ffa800;
}

.company .grade-2 .icon {
    background-position: 0 -213px;
}

.company .grade-2 h2.foremost {
    color: #ffa800;
} */

/* .company .grade-3 {
    position: absolute;
    top: -698px;
    left: 26px;
} */

.company .grade-1 .rate__icon,
.company .grade-2 .rate__icon,
.company .grade-3 .rate__icon {
    display: none;
}

.company .grade-2 h2.foremost,
.company .grade-3 h2.foremost {
    color: #000;
}